fieldset{
    font-family: trade-gothic-next-condensed;
}

h3{
    font-family: trade-gothic-next-compressed;
    font-weight: bolder;
}

@media print {
    .print-page {
        page-break-after: always;
    }
    .hide-on-print {
        display: none;
    }
    @page{
        margin-top: .6in;
        margin-bottom: 0;
    }
}